* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #212121;
    padding: 20px;
    text-align: center;
}

.green-text {
    color: #1db954;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-bottom: 100px;
}

.main-container {
    display: flex;
    margin: 30px;
    /* margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px; */
}

.product-page,
.form-page {
    flex: 2;
}

.product-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
}

.product-card {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 15px;
}

.product-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.product-info img {
    max-width: 20%;
    margin-right: 10px;
}

.quantity {
    /* margin-left: 100px; */
    width: 200px;
    /* Adjust spacing between product info and quantity */
}

.slider {
    padding: 20px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

.slider:last-child {
    flex: 2;
}

form {
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
}

label {
    width: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
}

input:not([type="radio"]),
select {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}

select {
    width: 100%;
}

.creditcard-expiry {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    margin-right: 2px;
}

#expirydate,
#year {
    width: 400%;
}

input[type="submit"] {
    width: 100%;
    font-size: 22px;
    background-color: #1db954;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px #1db954;
    border-radius: 20px;
}

input[type="submit"]:active {
    box-shadow: -4px -4px 0px #1db954;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
    background-color: #212121;
    color: white;
}



.top_menu {
    background-color: #22343d;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.top_menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;

}

.top_menu ul li {
    display: inline-block;
    width: 130px;
}

.top_menu ul li:hover {
    background-color: #1db954;
}

.top_menu ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.logout {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.nav {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.user {
    color: white;
}